@keyframes animation {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .label {
    font-size: 100px;
    line-height: 0.9;
  }
  
  .border {
    border: 2px solid #f2f2f2;
  }
  
  .progress {
    height: 10px;
    background-color: black;
  }
  
  .animate {
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .pause {
    animation-play-state: paused;
  }
  
  .buttons-group {
    display: flex;
    margin-top: 20px;
  }
  
  .button {
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button:active {
    transform: translate3d(1px, 1px, 0);
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }